<p>
  <strong><%= I18n.t('affiliate_link') %>:</strong> 
  <%= link_to root_url(:ref_id => current_user.ref_id), root_url(:ref_id => current_user.ref_id) %><br />
  <%= link_to "Send affiliate link to friend", email_to_friend_url('affiliate', Affiliate.new(current_user))
 %>
</p>
