<p>
  <strong><%= t('affiliate_link') %>:</strong> 
  <%= link_to referral_link(@user) %><br />
 %>
</p>
<% @affiliates = @user.affiliates %>
<% if @affiliates.any? %>
  <h3><%= t('affiliates_signed_up') %></h3>
  <ul>
  <% @affiliates.each do |aff| %>
    <li><%= aff.user.email %> (<% t(:registered) %>)</li>
  <% end %>
  </ul>
<% end %>
